@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
    margin: 0;
    padding: 0;
}

* {
    position: relative;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
}

#mainad{
    width: 90%;
    height: 130px;
    margin: 10px 5%;
}

#mainad img{
    width: 100%;
    height: 100%;
}

#wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw ;
    padding: 10px 15px 40px 15px;

}
#main{
    width: 100%;
}
#index{
    width: 100%;
}

#main a{
    color :black !important
}

#title{
    padding: 10px 0px; 
    line-height: 32px;
    font-size: 22px;
    font-family: 'Lora', serif;
    font-weight: bold;
}

#meta{
    display: flex;
    flex-direction: row; 
}
#meta i{
    margin: 0 20px;
}

#main img{
    margin: 15px 0;
    width: 100%;
    height: 60vw;
}

#content{
    width: 100% ;
    padding: 10px 15px;
    line-height: 29px;
}


#related{
    width: 100% ;
    padding: 20px 10px;
}

header{
    width: 100%;
    padding: 8px 0;
    text-align: center;
    background-color: rgb(28, 28, 28);
    color :white;
    margin: 10px auto;
}

#related a{
    color: black !important;
}

.r{
    width: 100%;
    min-width: 320px;
    height: 120px;
    display: flex;
    flex-direction: row;
    background-color: rgb(231, 231, 231);
    color: black !important;
    padding: 7px;
    margin: 12px 0;
    overflow: hidden;
}
.r img{
    width: 120px;
    height: 100%;
} 
.r p{
    padding: 5px 8px;
    font-size: 13px;
} 

#search{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-aroundc;

}

/******************** Search ********************/

.index{
    background-color: rgb(243, 243, 243);
    width: 100%;
    max-width:600px;
    height: 160px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(227, 227, 227);
    margin: 15px 0;
}
.index img{
    width: 180px !important;
    height: 180px !important;
    margin: 0 !important;
}
.index p{
    padding: 10px;
    font-size: 15px;
}
.index b{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    cursor: pointer;
}
.index b:hover{
    color: grey;
}


@media screen and (min-width : 760px){
    #wrapper{
        display: flex;
        flex-direction: row;
    }

    #mainad{
        width: 570px;
        height: 140px;
        margin: 10px auto;
    }

    #index{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }

    #main{
        padding: 0px 15px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #main img{
        padding: 0;
        height: 340px;
        width: 500px;
    }

    #related{
        width: 40%;
    }

    #content{
        line-height: 35px;
    }

    #search{
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }
    #search .r {
        margin: 5px;
        width: 400px;
        padding: 25px;
        overflow: hidden;
    }
}